/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
h2.name {
  font-family: Georgia, Times, "Times New Roman", serif;
  display: inline-block;
  margin-right: 0.3em;
  font-size: 4em;
}
h3.born {
  font-family: Georgia, Times, "Times New Roman", serif;
  display: inline-block;
  font-size: 2em;
  text-align: right;
}
ul.jubilees {
  font-family: Georgia, Times, "Times New Roman", serif;
  column-count: 5;
  clear: both;
  margin-top: 1em;
}
ul.jubilees li {
  white-space: nowrap;
}
li.year {
  margin-bottom: 0.5em;
  -webkit-column-break-inside: avoid;
}
span.year {
  font-weight: bold;
  font-size: 1.2em;
}
span.date {
  display: inline-block;
  min-width: 3.3em;
  white-space: nowrap;
  font-weight: bold;
  text-align: right;
  font-size: 0.9em;
}
span.description {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.9em;
}
