/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.year {
	width: 10em;
}
.year {
	display: inline-block;
	width: 5em;
	font-weight: bold;
}
.date {
	display: inline-block;
	width: 3em;
	font-weight: bold;
	text-align: right;
}
ul.jubilees-year {
	display: inline;
}
ul.jubilees-year li {
	display: inline-block;
	width: 10em;
}
