/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
#jubilees {
  font-family: Georgia, Times, "Times New Roman", serif;
  column-count: 5;
}
li.year {
  -webkit-column-break-inside: avoid;
}
span.year {
	font-weight: bold;
	font-size: 1.2em;
}
.date {
	display: inline-block;
	width: 3em;
	font-weight: bold;
	text-align: right;
}
ul.jubilees-year {
	display: inline;
}
ul.jubilees-year li {
	display: inline-block;
	width: 12em;
}
